* {
    margin: 0;
    padding: 0;
    --bg-main-color: #252525;
    --bg-secundary-color: #1A1A24;
    --element-color: #CCC;
    --line-color: #6BF;
    --line-color-secundary: #FA2;
    --main-font-color: #FFF;
    --pad-font-color: #000;
}
body {
    background-color: var(--bg-main-color);
}
.header-cont{
    border-bottom: 3px solid var(--line-color);
}
.s-menu-btn{
    display: none;
    color: var(--main-font-color);
}
.header__title{
    margin-right: 20px;
    text-align: right;
    color: var(--main-font-color);
}
.grid__container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}
.cont-configuration{
    overflow: scrol;
    width: 250px;
    height: 100vh;
    margin: 0;
    border-right: 3px solid var(--line-color);
    background-color: var(--bg-secundary-color);
    z-index: 1000;
}
.conf__ul{
    list-style: none;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
    color: var(--main-font-color);
}
.cont__music-genre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:  10px 20px 10px 20px;
    border-top: 1px solid var(--line-color-sec);
    border-bottom: 1px solid var(--line-color);
}
.music-genre{
    width: 60px;
    height: 60px;
    border-radius: 0.7em;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--element-color);
    transition: 0.15s;
}
.music-genre:hover{
    background-color: var(--line-color);
    transform: scale(1.03);
    cursor: pointer;
}
.conf__bar{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 25px;
}
.conf__title{
    font-size: 15px;
}
.switch {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 21px;
    margin-top: 13px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: var(--element-color);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3.5px;
    border-radius: 50%;
    background-color: #FFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
input:checked + .slider {
    background-color: var(--line-color-secundary);
}
input:focus + .slider {
    ox-shadow: 0 0 1px var(--line-color-secundary);
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.cont-launchpad{
    display: flex;
    animation-direction: row;
    justify-content: space-around;
    max-width: 800px;
}
.grid__launchpad {
    display: grid;
    grid-template-columns: 120px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px;
    justify-content: center;
    column-gap: 3px;
    row-gap: 5px;
}
.grid__cell{
    padding: 0.5em;
}
.grid__pad{
    border-radius: 0.7em;
    text-align: right;
    line-height: 98px;
    transition: 0.15s;
}
.grid__pad:hover{
    filter: brightness(1.15);
    transform: scale(1.03);
    cursor: pointer;
}
.pad__key{
    font-family: sans-serif;
    font-size: 0.65em;
    color: var(--pad-font-color);
}
.grid__info{
    text-align: center;
    border-radius: 0.2em;
}
.info__title{
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: var(pad-font-color);
}
.grid__row-0{
    background-color: #E3A8E3;
}
.grid__row-1{
    background-color: #FFFFC6;
}
.grid__row-2{
    background-color: #FF97D0;
}
.grid__row-3{
    background-color: #93C9FF;
}
.grid__row-4{
    background-color: #93FFC9;
}