* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-main-color: #252525;
    --bg-secundary-color: #1A1A24;
    --element-color: #CCC;
    --line-color: #6BF;
    --line-color-secundary: #FA2;
    --main-font-color: #FFF;
    --pad-font-color: #000;
}
body {
    font-family: sans-serif;
    color: var(--main-font-color);
    background-color: var(--bg-main-color);
}
header{
    padding: 10px;
    border-bottom: 3px solid var(--line-color);
}
header .s-menu-btn{
    display: none;
}
header h1{
    margin-right: 10px;
    text-align: right;
    font-size: 40px;
}
.container{
    display: flex;
    justify-content: center;
}
.container nav{
    width: 350px;
    height: calc(100vh - 70px);
    margin: 0;
    border-right: 3px solid var(--line-color);
    background-color: var(--bg-secundary-color);
    z-index: 1000;
}
.container nav ul{
    list-style: none;
    padding: 0;
    font-size: 15px;
}
.container nav ul li{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 20px 0 25px;
}
.container nav ul .genres{
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.container nav ul .genres a{
    width: 60px;
    height: 60px;
    border-radius: 0.7em;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--element-color);
    transition: 0.15s;
}
.container nav ul .genres a:hover{
    background-color: var(--line-color);
    transform: scale(1.03);
    cursor: pointer;
}
.container nav ul .genres #modernRapButton{
    background-color: var(--line-color-secundary);;
}
/**********************************
-----SWITCH BUTTON CONSTRUCTOR-----
***********************************/
.switch {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 21px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 34px;
    background-color: var(--element-color);
    transition: 0.3s;
    cursor: pointer;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    bottom: 3.5px;
    left: 3px;
    border-radius: 50%;
    background-color: #FFF;
    transition: 0.3s;
}
input:checked + .slider {
    background-color: var(--line-color-secundary);
}
input:focus + .slider {
    ox-shadow: 0 0 1px var(--line-color-secundary);
}
input:checked + .slider:before {
    transform: translateX(26px);
}
/**********************************/
.container main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.container main .grid-launchpad{
    display: grid;
    grid-template-columns: 120px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px;
    justify-content: center;
    column-gap: 3px;
    row-gap: 5px;
    width: 100%;
    max-width: 535px;
    height: 100%;
    max-height: 420px;
}
.container main .grid-launchpad a{
    max-height: 80px;
    padding: 7px;
}
.container main .grid-launchpad .grid-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.2em;
    max-width: 120px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--pad-font-color);
}
.container main .grid-launchpad .grid-pad{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0.7em;
    max-width: 80px;
    text-align: right;
    font-size: 10.5px;
    color: var(--pad-font-color);
    transition: 0.15s;
}
.container main .grid-launchpad .grid-pad:hover{
    filter: brightness(1.15);
    transform: scale(1.03);
    cursor: pointer;
}
.container main .grid-launchpad .grid-row-0{
    background-color: #E3A8E3;
}
.container main .grid-launchpad .grid-row-1{
    background-color: #FFFFC6;
}
.container main .grid-launchpad .grid-row-2{
    background-color: #FF97D0;
}
.container main .grid-launchpad .grid-row-3{
    background-color: #93C9FF;
}
.container main .grid-launchpad .grid-row-4{
    background-color: #93FFC9;
}