header{
    display: flex;
    justify-content: space-between;
}
header .s-menu-btn{
	display: block;
	color: var(--main-font-color);
    cursor: pointer;
}
.hiddenElement{
    position: fixed;
    left: -100%;
    transition: left 0.4s ease-out;
}
.showedElement{
    position: fixed;
    width: 80%;
    height: calc(100%-65px);
    left: 0;
    transition: left 0.4s ease-out;
}